<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="#">OneCenter</a></div>
                    </div>
                    <div class="footer_title">Tem alguma pergunta? Ligue para nós 24/7</div>
                    <div class="footer_phone">+55 11 98565-7414</div>
                    <div class="footer_contact_text">
                        <p>Av.Paulista, nº5478, </p>
                        <p>São Paulo, SP CEP:07485-895</p>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Encontre-o rápido</div>
                    <ul class="footer_list">
                        <li><a href="#">Computadores e Laptops</a></li>
                        <li><a href="#">Câmeras e Fotos</a></li>
                        <li><a href="#">Hardware</a></li>
                        <li><a href="#">Smartphones & Tablets</a></li>
                        <li><a href="#">TV & Audio</a></li>
                    </ul>
                    <div class="footer_subtitle">Gadgets</div>
                    <ul class="footer_list">
                        <li><a href="#">Eletrônicos para carros</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <ul class="footer_list footer_list_2">
                        <li><a href="#">Video Games & Consoles</a></li>
                        <li><a href="#">Acessórias</a></li>
                        <li><a href="#">Cameras & Fotos</a></li>
                        <li><a href="#">Hardware</a></li>
                        <li><a href="#">Computadores & Laptops</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Atendimento ao cliente</div>
                    <ul class="footer_list">
                        <li><a href="#">Minha conta</a></li>
                        <li><a href="#">Rastreamento de pedidos</a></li>
                        <li><a href="#">Lista de desejos</a></li>
                        <li><a [routerLink]="['/contact']">Contatos</a></li>
                        <li><a href="#">Devoluções / Trocas</a></li>
                        <li><a href="#">Perguntas frequentes</a></li>
                        <li><a href="#">Suporte ao produto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>