
<!-- Shop Content -->
<div class="shop_content">
        <div class="shop_bar clearfix">
            <div class="shop_product_count"><span>{{qtdeProdutos}}</span> produtos encontrados</div>
            <div class="shop_sorting">
                <span>Ordenar por:</span>
                <ul>
                    <li>
                        <span class="sorting_text">mais bem avaliado<i class="fas fa-chevron-down"></i></span>
                        <ul>
                            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>mais bem avaliado</li>
                            <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>nome</li>
                            <li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>preço</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="product_grid">
            <div class="product_grid_border"></div>

        <!-- Shop Page Navigation -->
            <!-- Product Item -->
            <app-product-item *ngFor="let produto of produtos" [produto]="produto"></app-product-item>

        <!-- Shop Page Navigation -->
        <div class="shop_page_nav d-flex flex-row">
            <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
            <ul class="page_nav d-flex flex-row">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">21</a></li>
            </ul>
            <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
        </div>
    </div>
</div>
