<div class="super_container"> 

    <!-- Header -->
  <app-header></app-header>
  
  <!-- <app-home></app-home> -->

  <router-outlet></router-outlet>

  <!-- Banner -->
  <app-banner></app-banner>

  <!-- Hot New Arrivals -->
  <app-new-arrivals></app-new-arrivals>

  <!-- Recently Viewed -->
  <app-viewed></app-viewed>

  <!-- Brands -->
  <app-brands></app-brands>

  <!-- Newsletter -->
  <app-newsletter></app-newsletter>

  <!-- Footer -->
  <app-footer></app-footer>

  <!-- Copyright -->
  <app-copyright></app-copyright>

</div>
