	<!-- Single Product -->

	<div class="single_product">
		<div class="container">
			<div class="row">

				<!-- ../../assets/images -->
				<div class="col-lg-2 order-lg-1 order-2">
					<ul class="image_list">
						<li data-image="../../assets/images/single_4.jpg"><img src="../../assets/images/mba13-m3-midnight-gallery6-202402.jpeg" alt=""></li>
						<li data-image="../../assets/images/single_2.jpg"><img src="../../assets/images/mba13-m3-midnight-gallery5.jpeg" alt=""></li>
						<li data-image="../../assets/images/single_3.jpg"><img src="../../assets/images/mba13-m3-midnight-gallery2-202402.jpeg" alt=""></li>
					</ul>
				</div>

				<!-- Selected Image -->
				<div class="col-lg-5 order-lg-2 order-1">
					<div class="image_selected"><img src="../../assets/images/mba13-m3.jpeg" alt=""></div>
				</div>

				<!-- Description -->
				<div class="col-lg-5 order-3">
					<div class="product_description">
						<div class="product_category">Notebook</div>
						<div class="product_name">Personalize seu MacBook Air de 13 polegadas – Meia-noite</div>
						<div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
						<div class="product_text"><p>
							Chip M3 da Apple com CPU de 8 núcleos, GPU de 8 núcleos e Neural Engine de 16 núcleos
							Memória unificada de 16 GB
							SSD de 256 GB
							Tela Liquid Retina de 13,6 polegadas com True Tone²
							Câmera FaceTime HD de 1080p
							Porta MagSafe 3 para recarga
							Duas portas Thunderbolt / USB 4
							Adaptador de energia USB‑C de 30W
							Magic Keyboard retroiluminado com Touch ID – Inglês (EUA)
						</p></div>
						<div class="order_info d-flex flex-row">
							<form action="#">
								<div class="clearfix" style="z-index: 1000;">

									<!-- Product Quantity -->
									<div class="product_quantity clearfix">
										<span>Quantidade: </span>
										<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
										<div class="quantity_buttons">
											<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fas fa-chevron-up"></i></div>
											<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fas fa-chevron-down"></i></div>
										</div>
									</div>

									<!-- Product Color -->
									<ul class="product_color">
										<li>
											<span>Cor: </span>
											<div class="color_mark_container"><div id="selected_color" class="color_mark"></div></div>
											<div class="color_dropdown_button"><i class="fas fa-chevron-down"></i></div>
											<ul class="color_list">
												<li><div class="color_mark" style="background: #999999;"></div></li>
												<li><div class="color_mark" style="background: #b19c83;"></div></li>
												<li><div class="color_mark" style="background: #000000;"></div></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="product_price">R$2000</div>
								<div class="button_container">
									<button type="button" class="button cart_button">Adicionar ao carrinho</button>
									<div class="product_fav"><i class="fas fa-heart"></i></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>